<div class="subpage_bg_img d-flex justify-content-center align-items-center" style="background-image: url('https://cdn.shopify.com/s/files/1/0613/1069/7694/files/imani-bahati-LxVxPA1LOVM-unsplash.jpg?v=1637594832');">
    <h2 class="f36">RESET PASSWORD</h2>
  </div>