<!-- コレクションの画像を取得 -->
<div class="subpage_bg_img d-flex justify-content-center align-items-center"
  style="background-image: url('{% if collection.image %}{{collection.image | img_url: '1920x'}}{% else %}https://cdn.shopify.com/s/files/1/0613/1069/7694/files/imani-bahati-LxVxPA1LOVM-unsplash.jpg?v=1637594832{% endif %}');">
  <h2 class="f36">{{collection.title}}</h2>
</div>